@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Switzer';
	src: url('./lib/fonts/Switzer-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('./lib/fonts/Switzer-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('./lib/fonts/Switzer-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('./lib/fonts/Switzer-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clash Display';
	src: url('./lib/fonts/ClashDisplay-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clash Display';
	src: url('./lib/fonts/ClashDisplay-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clash Display';
	src: url('./lib/fonts/ClashDisplay-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clash Display';
	src: url('./lib/fonts/ClashDisplay-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-switzer: 'Switzer', sans-serif;
	--font-clash: 'Clash Display', sans-serif;
}

:root {
	--color-bg: #ffffff;
	--color-text: #000000;
}

html {
	background: var(--color-bg);
	color: var(--color-text);
}

body {
	margin: 0;
	min-height: 100vh;
	background: var(--color-bg);
	color: var(--color-text);

	font-family: var(--font-switzer);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-clash);
	letter-spacing: -0.04em;
}

p {
	line-height: 1.6;
}

button,
input,
textarea,
select {
	font: inherit;
}


::view-transition-old(project-hero),
::view-transition-new(project-hero) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-group(project-hero) {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

::view-transition-old(navbar),
::view-transition-new(navbar) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: 0.7s cubic-bezier(0.76, 0, 0.24, 1) both vt-clip-out;
}
::view-transition-new(root) {
  animation: 0.7s cubic-bezier(0.76, 0, 0.24, 1) 0.1s both vt-clip-in;
}

@keyframes vt-clip-out {
  from { clip-path: inset(0% 0% 0% 0%); }
  to   { clip-path: inset(100% 0% 0% 0%); }
}
@keyframes vt-clip-in {
  from { clip-path: inset(0% 0% 100% 0%); }
  to   { clip-path: inset(0% 0% 0% 0%); }
}